body{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.info{
    background-color: #ffffff;
}

.quotes{
    background-color: #E5E7EB;
}

.heading{
    background-color: #1F2937;
    width: 1000px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.uppermid{
    width: 1000px;
    background-color: #ffffff;;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.lowermid{
    width: 1000px;
    height:300px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagemid{
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 10px 20px 10px 20px;
    font: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: light italic;
    color: #696f77;
}

.links{
    margin: 10px 150px 20px 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alinks{    
    margin-left: auto;  
}

.headfoot{
    display: flex;
    flex-direction: row; 
    align-items: center;   
    margin: 10px 150px 50px 150px;
}

.image{
    margin-left: auto;
    
}

.webtext{
    width: 350px;
    margin: 0px 5px;
}

.lowmidheading{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 20px 200px 0px 200px;
}

.signature{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 250px 30px 0px;
    font-weight: bolder;
    color: #1F2937;
}

.footer{
    width: 1000px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    width: 1000px;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footcontent{
    display: flex;
    align-items: center;
    background-color: #3882F6;
    color: #ffffff;
    padding: 30px 80px; 
    margin: 30px 0px;
    border-radius: 10px;
    width: 600px;
}

a{
    color: #ffffff;
    padding: 0px 10px;
    text-decoration: none;
}

.image_1{
    height: 200px;
    width: 350px; 
}

.image_2{
    height: 100px;
    width: 100px; 
    border-radius: 8px;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.headbutton{
    padding: 5px 15px;
    background-color: #3882F6;
    color: #ffffff;
    border-radius: 5px;
}

.footbutton{
    margin-left: auto;
}

.foot{    
    padding: 5px 15px;
    border: 2px solid white;
    background-color: #3882F6;
    color: #ffffff;
    border-radius: 5px;
}

h2{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}

p{
    margin: 0px;
}

h4{
    margin: 0px;
}


